* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}
html, body {
    width: 100%;
    height: 100%;
}
*::-webkit-scrollbar {
    display: none;
}
.fa-solid {
    margin-right: 5px;
}
.fa-magnifying-glass {
    position: absolute;
    translate: 10px 11px;
}
.search {
    padding-left: 30px !important;
}
.card {
    width: 18rem;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-fluid {
    width: 350px;
}
.main {
    width: 638px;
    align-items: center;
}
.tag {
    width: min-content;
    margin: 5px;
}
.tag-body {
    padding: 0 10px !important;
}
.tags {
    flex-wrap: wrap;
    width: 100%;
}
.dropdown-item {
    text-wrap: wrap !important;
}
.avatar {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.avatar-element {
    width: 100px;
    
}
.fa-magnifying-glass {
    position: absolute;
    translate: 10px -26px;
}
.username {
    cursor: pointer;
}